:root {
    --sidebar-width: 14%;
    --sidebar-font-size: 23px;
}

/* Animations */

@keyframes sidenav-hover {
    from { background-color: #DC1414 }
    to { background-color: maroon }
}

/* Styles */

html {
    font-family: Montserrat, Helvetica, Arial;
}

.sidenav {
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    text-align: center;
    background-color: #DC1414;
    z-index: 99;
}

.sidenav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-size: var(--sidebar-font-size);
    padding-top: 8%;
    padding-bottom: 8%;
}

.sidenav a:hover {
    animation-name: sidenav-hover;
    animation-duration: 0.3s;
    background-color: maroon
}

.sidenav p {
    color: #ffffff;
    display: block;
    font-size: var(--sidebar-font-size);
    padding-top: 8%;
    padding-bottom: 8%;
}

.auth-buttons {
    bottom: 0;
    width: 100%;
    position: absolute;
}

.main {
    margin-left: var(--sidebar-width);
    padding: 4px 0px 0px 30px;
}

.blog-title a {
    text-decoration: none;
    color: inherit;
}

.blog-title a:hover {
    text-decoration: underline;
}

/* Tag Styles */

hr {
    position: relative;
    left: -17px;
    background-color: #BBBBBB;
    border: none;
    width: 100%;
}