/* Animations */

@keyframes sidenav-hover {
    from { background-color: #DC1414 }
    to { background-color: maroon }
}

/* Styles */

html {
    font-family: Montserrat, Helvetica, Arial;
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    text-align: center;
    background-color: #DC1414;
}

.sidenav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-size: 23px;
    padding-top: 10%;
    padding-bottom: 10%;
}

.sidenav a:hover {
    animation-name: sidenav-hover;
    animation-duration: 0.3s;
    background-color: maroon
}

.main {
    margin-left: 220px;
    padding: 4px 0px 0px 30px;
}

hr {
    position: relative;
    left: -17px;
    background-color: #BBBBBB;
    border: none;
}