<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Template{% endblock %} - MC456 Blog Site</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
</head>
<body>

    <div class="sidenav">
        <a href="/">Home</a>
        <a href="/blogs">New Blogs</a>
        <a href="#">Write New Blog</a>
        <a href="#">Coming Soon</a>
        <a href="#">Coming Soon</a>
    </div>

    <div class="main">
        <h1>MysteryCoder456 Blog Website</h1>
        <hr size="5">
        <br>
        {% block main %}
        {% endblock %}
    </div>

</body>
</html>