{% extends 'blog/base.html' %}

{% block title %}
    New Blogs
{% endblock %}

{% block heading %}
    New Blogs
{% endblock %}

{% block main %}

    {% for blog in blog_set %}
        <hr style="height: 1px;">
        <br>

        <h1 class="blog-title"><a href="/blog/{{blog.title}}">{{blog.title}}</a></h1>
        <div class="pb-2" style="line-height: 0.1rem;">
            <h5 class="text-muted">By {{blog.author}} on {{blog.creation_date}}</h5>
            <h5 class="text-muted">Category: {{blog.blog_list.name}}</h5>
        </div>
        <h4>{{blog.content|linebreaks}}</h4>

        <br>
    {% endfor %}
    <hr style="height: 1px;">

{% endblock %}