{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{blog.title}}
{% endblock %}

{% block heading %}
    {{blog.title}}
{% endblock %}

{% block main %}

    <div>
        <h5 class="text-muted">By {{blog.author}} on {{blog.creation_date}}</h5>
        <h5 class="text-muted">Category: {{blog.blog_list.name}}</h5>
        <h5 class="text-muted">Points: {{points}}</h5>
    </div>

    <hr style="height: 1px;">

    <h4 class="font-weight-normal">{{blog.content|linebreaks}}</h4>

    <form method="POST" action="#">
        {% csrf_token %}

        {% comment %} Vote Buttons {% endcomment %}
        {% if action == 1 %}
            <button type="submit" name="vote" value="upvote" class="btn btn-success font-weight-bold">
                Upvote!
            </button>
            <button type="submit" name="vote" value="downvote" class="btn btn-outline-danger font-weight-bold">
                Downvote!
            </button>
        {% elif action == -1 %}
            <button type="submit" name="vote" value="upvote" class="btn btn-outline-success font-weight-bold">
                Upvote!
            </button>
            <button type="submit" name="vote" value="downvote" class="btn btn-danger font-weight-bold">
                Downvote!
            </button>
        {% elif action == 0 %}
            <button type="submit" name="vote" value="upvote" class="btn btn-outline-success font-weight-bold">
                Upvote!
            </button>
            <button type="submit" name="vote" value="downvote" class="btn btn-outline-danger font-weight-bold">
                Downvote!
            </button>
        {% endif %}
    </form>

    <br>

    <form method="POST" class="fotn-weight-bold" action="#">
        {% csrf_token %}
        {{comment_form|crispy}}
        <button type="submit" name="submit_button" class="btn btn-primary font-weight-bold">
            <h6 style="margin: auto;">Comment!</h6>
        </button>
    </form>

    <br>

    {% comment %} Comments {% endcomment %}

    {% if comment_count > 0 %}
        <h1 class="font-weight-light">Comments</h1>
        <hr style="height: 2px;">

        {% for comment in comment_set %}
            <div class="pt-2 pb-2">
                <h4 class="font-weight-normal">{{comment.content|linebreaks}}</h4>
                <h6 class="text-muted">By {{comment.author}} on {{comment.creation_date}}</h5>
            </div>
            <hr style="height: 1px;">
        {% endfor %}
    {% endif %}

{% endblock %}