{% extends 'blog/base.html' %}

{% block title %}
    {{blog.title}}
{% endblock %}

{% block heading %}
    {{blog.title}}
{% endblock %}

{% block main %}

    <div style="line-height: 0.1rem;">
        <h5 class="text-muted">By {{blog.author}} on {{blog.creation_date}}</h5>
        <h5 class="text-muted">Category: {{blog.blog_list.name}}</h5>
        <h5 class="text-muted">Points: {{blog.points}}</h5>
    </div>

    <hr style="height: 1px;">

    <h4 class="font-weight-normal">{{blog.content|linebreaks}}</h4>

    <form method="POST" action="#">
        {% csrf_token %}
        <button type="submit" name="vote" value="upvote" class="btn btn-outline-success font-weight-bold">
            Upvote!
        </button>
        <button type="submit" name="vote" value="downvote" class="btn btn-outline-danger font-weight-bold">
            Downvote!
        </button>
    </form>

{% endblock %}