{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    New Blog
{% endblock %}

{% block heading %}
    Create a New Blog
{% endblock %}

{% block main %}

    <form method="POST" class="mb-5 font-weight-bold">

        {% csrf_token %}
        {{form|crispy}}

        {% if time_diff < 5 %}

            <h4 class="alert alert-warning">
                You cannot make a blog post right now,
                you can make another one in {{time_left}} minute(s).<br>
                This is to prevent spam.
            </h4>

        {% else %}

            <p class="alert alert-info font-weight-normal">
                * Required.<br>
                Once you make a post, you <b>CANNOT</b> change or edit it. Make sure to look for and fix any mistakes!
            </p>
            <button type="submit" name="submit_button" class="btn btn-primary font-weight-bold">
                <h4 style="margin: auto;">Create!</h4>
            </button>

        {% endif %}

    </form>

{% endblock %}