{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    New Blog
{% endblock %}

{% block main %}

    <h1>Create A New Blog</h1>

    <form method="POST">

        {% csrf_token %}
        {{form|crispy}}
        <p>* Required</p>

        {% if time_diff < 5 %}

            <h3>
                You cannot make a blog post right now,<br>
                you can make another one in {{time_left}} minutes.
            </h3>
            <h4>This is to prevent spam.</h4>

        {% else %}

            <button type="submit" name="submit_button">Create!</button>

        {% endif %}

    </form>

{% endblock %}