{% extends 'blog/base.html' %}

{% block title %}
    Dev Logs
{% endblock %}

{% block heading %}
    Dev Logs
{% endblock %}

{% block main %}

    {% for blog in dev_set %}
        <hr style="height: 1px;">
        <br>

        <h1 class="blog-title"><a href="{% url 'blog_detail' blog.title %}">{{blog.title}}</a></h1>

        <div class="pb-2" style="line-height: 0.1rem;">
            <h5 class="text-muted">By {{blog.author}} on {{blog.creation_date}}</h5>
            <h5 class="text-muted">Category: {{blog.blog_list.name}}</h5>
        </div>
    {% endfor %}
    <hr style="height: 1px;">

{% endblock %}